.roomWrapper {
	color: #232323;
	padding: 0;
	max-height: 100vh;
	overflow: hidden;
	.roomHeader {
		height: 56px;
		border-bottom: 1px solid #d5d5d5;
		background-color: #fff;
		padding: 8px 12px;
		box-sizing: border-box;
	}
	.roomHeaderInfo {
		display: flex;
		align-items: center;
		gap: 12px;
		.roomName {
			font-size: 18px;
			font-weight: bold;
		}
	}
	.roomBody {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		height: calc(100vh - 56px);
		padding: 0;
		background-color: rgb(223, 225, 225);
		.msgContainer {
			flex: 1;
			height: 100%;
			padding: 12px;
			max-height: calc(100vh - 56px - 72px - 16px - 8px);
			overflow-y: scroll;
			.eachMsg {
				max-width: 50%;
				margin-bottom: 8px;
				font-size: 14px;
				display: flex;
				flex-direction: column;
				.bodyMsg {
					padding: 8px 10px;
					border-radius: 6px;
					box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
					background-color: #fff;
					width: fit-content;
					min-width: 50px;
				}
				.textContent {
					font-family: 'Roboto';
					display: block;
					margin: 0;
					width: fit-content;
					white-space: break-spaces !important;
					word-break: break-word;
				}
				.msgTime {
					display: block;
					margin-top: 6px;
					font-size: 10px;
					color: #8d8b8b;
				}
				&.myMsg {
					margin-left: auto;
					.bodyMsg {
						margin-left: auto;
						background-color: rgb(208, 246, 246);
						.textContent {
							color: #232323;
						}
					}

					.msgTime {
						margin-left: auto;
					}
				}
				&.otherMsg {
					.bodyMsg {
						background-color: #fff;
						.textContent {
							color: #232323;
						}
					}
				}
			}
		}
		.typingContainer {
			height: fit-content;
			border-top: 1px solid #d5d5d5;
			margin-top: auto;
			display: flex;
			background-color: #fff;
			.editorBlock {
				display: block;
				flex: 1;
				height: 72px;
				line-height: 16px;
				font-size: 15px;
				box-sizing: border-box;
				resize: none;
				padding: 12px 8px 6px;
				&,
				&:focus,
				&:focus-visible,
				&:focus-within {
					border: none;
					outline: none;
					background-color: transparent;
				}
				&::-webkit-scrollbar {
					width: 8px;
					height: 4px;
					border-radius: 4px;
				}

				/* Track */
				&::-webkit-scrollbar-track {
					background: rgba(255, 255, 255, 0);
				}

				/* Handle */
				&::-webkit-scrollbar-thumb {
					background: rgba(136, 136, 136, 1);
					border-radius: 4px;
				}
				&:hover {
					/* Handle on hover */
					&::-webkit-scrollbar-thumb {
						background: rgba(136, 136, 136, 0.693);
					}
					&::-webkit-scrollbar {
						height: 8px;
					}
				}
			}
		}
	}
}
